@use "sass:math";

@function fluid($max: 48, $min: 16) {
  $maxViewportWidth: 1920;
  $minViewportWidth: 390;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  @return clamp(
          #{$minSize * 1rem},
          #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
          #{$maxSize * 1rem}

  );
}