@use '../../styles/helpers' as *;

.movieInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: grid;
  gap: 10px;
  text-align: center;
}

.movieList {
  display: grid;
  gap: 16px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile{
    grid-template-columns: 1fr;
  }



}
.actions{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
