@use '../../styles/helpers' as *;

.button{
  @include fluid-text(24,18);
  padding: 0 28px;
  color: var(--color-white);
  background-color: var(--color-accent);
  border: none;
  height: 48px;
  border-radius: var(--border-radius-xs);
  transition-duration: var(--transition-duration);

  &:hover{
    background: var(--color-accent-hover);
  }

  &:disabled{
    background: var(--gray-200);
    color: var(--gray-500);
    pointer-events: none;
  }
}

