@use '../../styles/helpers' as *;

.button{
  font-size: 18px;
  font-weight: 600;
  padding: 0 28px;
  color: var(--color-white);
  background-color: var(--color-accent);
  border: none;
  height: 58px;
  border-radius: var(--border-radius-xs);
  transition-duration: var(--transition-duration);

  @include mobile{
    height: 48px;
    padding: 0 18px;
  }

  &:hover{
    background: var(--color-accent-hover);
  }

  &:disabled{
    background: var(--gray-200);
    color: var(--gray-500);
    pointer-events: none;
  }
}

