@use '../styles/helpers' as *;

body {
  font-family: var(--font-primary), sans-serif;
  @include fluid-text(20, 16);
  background-color: black;
  color: #fffdf9;
}

section {
  padding: 50px 0;

}

h1, h2 {
  font-family: "Commissioner", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

//Hero
h1, .h1 {
  @include fluid-text(64, 32);
  line-height: 1.2;
}

//Секции
h2, .h2 {
  @include fluid-text(48, 24);
  line-height: 1.3;
}

//Названия фильмов
h3, .h3 {
  @include fluid-text(28, 18);
  //line-height:1.5; Дефолт браузера
}

//Жанры / Категории
h4, .h4 {
  @include fluid-text(22, 16);

  //line-height:1.5; Дефолт браузера
}

//Рейтинг / Год
h5, .h5 {
  @include fluid-text(18, 14);
}

//Режиссёр / Актёры
h6, .h6 {
  @include fluid-text(16, 13);
}


