:root {
  --container-width: clamp(1600px, 70vw, 1600px);
  --container-padding-x: clamp(24px, 3.5vw, 48px);

  --header-height: 64px;

  --font-primary: "Rubik", sans-serif;
  --font-secondary: "Commissioner", sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-accent:#ec124e;
  --color-accent-hover: #b70e3c;

  --color-accent-active-card: rgba(236, 18, 78, 0.1);

  --color-hover-card: #181818;

  --gray-100: #0c0c0d;  /* тёмный фон секций */
  --gray-200: #2a2a2d;  /* слегка светлее, для карточек */
  --gray-300: #38383c;  /* бордеры, разделители */
  --gray-400: #4a4a4f;  /* второстепенный текст / placeholder */
  --gray-500: #6c6c70;  /* основной текст средней насыщенности */
  --gray-600: #8a8a8f;  /* вспомогательный текст / info */
  --gray-700: #b0b0b5;  /* яркий текст / hover / выделение */
  --gray-800: #d0d0d4;  /* иконки / акценты */
  --gray-900: #f0f0f3;

  --border-radius-m: 60px;
  --border-radius: 30px;
  --border-radius-s: 16px;
  --border-radius-xs: 8px;

  --transition-duration: 0.2s;
}