.quiz {
  display: grid;
  gap: 40px;
  //  justify-content: center;
  //  max-width: 70%;
}

.header {
  display: grid;
  gap: 10px;
  text-align: center;
}

.infoQuestion {
  display: grid;
  row-gap: 4px;
}

.descriptionQuestion {
  font-size: 18px;
  color: var(--gray-600);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}


.promt {
  width: 100%;
  max-width: 800px; // вот ключевая строка
  margin: 0 auto; // центрирует по горизонтали
  display: flex;
  flex-direction: column;

  align-items: center;
  row-gap: 40px;
}


.promtInfo {
  display: grid;
  gap: 4px;
  text-align: center;
}

.promptTextarea {
  width: 100%;
  background-color: var(--gray-100);
  border: 2px solid var(--gray-200);
  border-radius: var(--border-radius-xs);
  color: var(--color-white);
  padding: 20px;

  &:focus{
    outline: none;
    border: 2px solid var(--color-accent);
  }
}






















