.quiz {
  display: grid;
  gap: 40px;
  //  justify-content: center;
  //  max-width: 70%;
}

.header {
  display: grid;
  gap: 10px;
  text-align: center;
}

.infoQuestion{
  display: grid;
  row-gap: 4px;
}
.descriptionQuestion{
  font-size: 18px;
  color: var(--gray-600);
}

.actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}



































