.hero {
  position: relative;
  display: grid;
  gap: 70px;
}

.heroHeader {

  justify-content: space-between;
}

.heroText {
  display: grid;
  gap: 16px;
  z-index: 32;
}

.backdrop {
  position: absolute;
  max-width: 50%;
  max-height: 500px;
  object-fit: cover;
  top: 0; /* отступ сверху */
  right: 0;
}

.backdropWrapper {

}

.buttonHome {
  display: block;
  margin: 0 auto;

}