@use '../../styles/helpers' as *;

.swiper {
  width: 100%;
  position: relative;
}

.swiper::before,
.swiper::after {
  content: '';
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  z-index: 20;
  pointer-events: none;

  @include mobile {
    display: none;
  }
}

.swiper::before {
  left: 0;
  background: linear-gradient(to right, black, transparent);
}

.swiper::after {
  right: 0;
  background: linear-gradient(to left, black, transparent);
}

.swiperSlide {
  width: 200px;

  @include tablet {
    width: 180px;
  }

  @include mobile {
    width: 110px;
  }
}

.swiperImage {
  border-radius: var(--border-radius-s);
  width: 100%;
}