.swiper{
  padding: 0 20px;
}

.swiper::before,
.swiper::after {
  content: '';
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 20;
  pointer-events: none;
}

.swiper::before { /* Левое затухание */
  left: 0;
  background: linear-gradient(to right, rgba(0,0,0,1.8), transparent);
}

.swiper::after { /* Правое затухание */
  right: 0;
  background: linear-gradient(to left, rgba(0,0,0,1.8), transparent);
}

.swiperSlide{
 max-width: 320px;
}

.swiperImage{
  border-radius: 20px;
  width: 100%;
  height: 450px;
}