.swiper{
  width: 100%;
}

.swiper::before,
.swiper::after {
  content: '';
  position: absolute;
  top: 0;
  width: 111px;
  height: 100%;
  z-index: 20;
  pointer-events: none;
}

.swiper::before { /* Левое затухание */
  left: 0;
  background: linear-gradient(to right, rgba(0,0,0,1.8), transparent);
}

.swiper::after { /* Правое затухание */
  right: 0;
  background: linear-gradient(to left, rgba(0,0,0,1.8), transparent);
}

.swiperSlide{
  width: 200px;
}

.swiperImage{
  border-radius: var(--border-radius-s);
  width: 100%;

}